{% extends 'layouts/base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block heading %}
<h2>New Question</h2>
{% endblock %}

{% block content %}
<div class="d-flex flex-column gap-3 w-100">
    <form class="was-validated col-5" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button type="submit" class="btn btn-secondary">Ask!</button>
        {% endbuttons %}
    </form>
</div>
{% endblock %}

{% block popular_tags %}
    {% include "components/popular_tags.html" %}
{% endblock %}

{% block best_members %}
    {% include "components/best_members.html" %}
{% endblock %}