{% extends 'layouts/base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block heading %}
<h2>Log In</h2>
{% endblock %}

{% block content %}
<div class="d-flex flex-column gap-3 w-100">
    <form class="was-validated col-5" action="{% url 'login' %}?continue={{ request.GET.continue }}" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% comment %} <div class="mb-3">
            <label for="InputLogin" class="form-label">Login</label>
            <input type="text" class="form-control" id="InputLogin" name="username" maxlength="35" required>
            <div class="invalid-feedback">
                Please enter a login.
            </div>
        </div>
        <div class="mb-3">
            <label for="InputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="InputPassword" name="password" maxlength="35" required>
            <div class="invalid-feedback">
                Please enter a password.
            </div>
        </div> {% endcomment %}
        {% buttons %}
        <button type="submit" class="btn btn-secondary">Submit</button>
        {% endbuttons %}
    </form>
    <a href={% url 'signup' %}>Don't have an account? Create new</a>
</div>
{% endblock %}

{% block popular_tags %}
    {% include "components/popular_tags.html" %}
{% endblock %}

{% block best_members %}
    {% include "components/best_members.html" %}
{% endblock %}