{% extends 'layouts/base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content %}
{% include 'components/main_card.html' %} 

{% for answer in answers %}
{% include "components/answer_card.html"%}
{% endfor %}

{% include 'components/pagination.html' %}

{% if request.user.is_authenticated %}
<div class="d-flex flex-column gap-2 w-100">
    <form class="was-validated w-100" method="POST" action="{% url "question" question.id %}">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-secondary w-100">Answer</button>
    {% endbuttons %}
    </form>
</div>
{% endif %}

{% endblock %}

{% block popular_tags %}
    {% include "components/popular_tags.html" %}
{% endblock %}

{% block best_members %}
    {% include "components/best_members.html" %}
{% endblock %}