{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="card border-dark mb-3 w-100">
        <div class="card-body d-flex justify-content-between align-items-center">
            <div class="d-flex gap-3 align-items-center">
                <div class="d-flex flex-column justify-content-between align-items-center gap-2">
                    <div style="width: 150px; height: 150px;">
                        <img class="img-thumbnail" src={% static "img/cat_pfp.jpg" %} alt="CardIcon">
                    </div>
                    {% comment %} <input type="number" class="form-control form-control-sm text-center" placeholder="5"
                            style="width: 50px; height: 30px;" aria-label="Number input"> {% endcomment %}
                    <input type="text" class="form-control form-control-sm text-center border border-dark" 
                        value="{{ question.sum_likes }}" style="width: 50px; height: 30px;" readonly>
                </div>
                <div>
                    <h2 class="card-title">{{ question.title }}</h2>
                    <p class="card-text">{{ question.text }}</p>
                    <a href={% url 'question' question.id %} class="card-link">Answers({{ question.count_answers }})</a>
                    <div class="d-flex gap-2">
                        Tags:
                        {% for tag in question.tags.all %}
                        <a href={% url 'tag' tag.title %} class="card-link m-0">{{ tag.title }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column gap-1 align-items-center">
                <button type="button" class="btn btn-outline-success btn-sm"
                        style="width: 35px; height: 35px;"><b>+</b></button>
                <button type="button" class="btn btn-outline-danger btn-sm"
                        style="width: 35px; height: 35px;"><b>-</b></button>
            </div>
        </div>
    </div>

{% for answer in answers %}
{% include "components/card.html"%}
{% endfor %}

{% include 'components/pagination.html' %}

<div class="d-flex flex-column gap-2 w-100">
    <div>
        <label for="AnswerTextarea" class="form-label">Your Answer:</label>
        <textarea class="form-control" id="AnswerTextarea" rows="4" style="max-height: 500px;"></textarea>
    </div>
    <button type="submit" class="btn btn-secondary">Answer</button>
</div>

{% endblock %}

{% block popular_tags %}
    {% include "components/popular_tags.html" %}
{% endblock %}

{% block best_members %}
    {% include "components/best_members.html" %}
{% endblock %}