{% load static %}

<div class="card w-100 question-card" id="{{question.id}}" data-item="{{ question.id }}">
    <div class="card-body d-flex justify-content-between align-items-center">
        <div class="d-flex gap-3 align-items-center">
            <div class="d-flex flex-column justify-content-between align-items-center gap-2">
                <div style="width: 100px; height: 100px;">
                {% if question.profile.avatar %}
                    <img src="{{ question.profile.avatar.url }}" alt="Avatar" class="img-thumbnail">
                {% else %}
                    <img src={% static "img/cat_pfp.jpeg" %} alt="Avatar" class="img-thumbnail">
                {% endif %}
                </div>
                <input type="text" class="form-control form-control-sm text-center border border-dark like-counter" 
                    value="{{ question.likes }}" style="width: 50px; height: 30px;" readonly>
            </div>
            <div>
                <h5 class="card-title"><a href={% url 'question' question.id %}>{{ question.title }}</a></h5>
                <p class="card-text">{{ question.content }}</p>
                <a href={% url 'question' question.id %} class="card-link">Answers ({{ question.count_answers }})</a>
                <div class="d-flex gap-2">
                    Tags:
                    {% for tag in question.tags.all %}
                    <a href={% url 'tag' tag.title %} class="card-link m-0">{{ tag.title }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="d-flex flex-column gap-1 align-items-center">
            <button class="btn btn-outline-success btn-sm like-button"
                style="width: 35px; height: 35px;"><b>+</b></button>
            <button class="btn btn-outline-danger btn-sm dislike-button"
                style="width: 35px; height: 35px;"><b>-</b></button>
        </div>
    </div>
</div>